In [4]:
import numpy as np
import pandas as pd

In [3]:
from datetime import datetime

In [3]:
now=datetime.now()
now

datetime.datetime(2019, 7, 15, 11, 59, 27, 377124)

In [4]:
now.year,now.month,now.day

(2019, 7, 15)

In [6]:
delta=datetime(2011,1,7)-datetime(2019,4,21,7,54)
delta

datetime.timedelta(days=-3027, seconds=57960)

In [9]:
delta.days,delta.seconds

(-3027, 57960)

In [10]:
from datetime import timedelta

In [11]:
start=datetime(2001,1,7)
start+timedelta(12)

datetime.datetime(2001, 1, 19, 0, 0)

In [12]:
start+2*timedelta(12)

datetime.datetime(2001, 1, 31, 0, 0)

### 文字列へに変換する

In [13]:
stamp=datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [14]:
stamp.strftime('%Y-%m-%D')

'2011-01-01/03/11'

In [19]:
value='2011-02-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 2, 3, 0, 0)

In [21]:
datestrs=['7/5/2011','8/6/2012']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 5, 0, 0), datetime.datetime(2012, 8, 6, 0, 0)]

In [22]:
from dateutil.parser import parse
parse('2019-07-08')

datetime.datetime(2019, 7, 8, 0, 0)

In [23]:
parse('Jan 31 ,1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [29]:
datestrs=['2001-04-05 12:00:00','2023-04-05 14:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2001-04-05 12:00:00', '2023-04-05 14:00:00'], dtype='datetime64[ns]', freq=None)

In [26]:
parse('6/12/2017',dayfirst=True)

datetime.datetime(2017, 12, 6, 0, 0)

In [31]:
idx=pd.to_datetime(datestrs+[None])
idx

DatetimeIndex(['2001-04-05 12:00:00', '2023-04-05 14:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
idx[2]

NaT

In [33]:
pd.isnull(idx)

array([False, False,  True])

## 時系列ベース

In [35]:
dates=[datetime(2011,1,2),datetime(2012,2,2),
      datetime(2015,7,2),datetime(2014,3,2),
      datetime(2012,9,12),datetime(2001,9,22)]
ts=pd.Series(np.random.randn(6),index=dates)
ts

2011-01-02   -1.836252
2012-02-02   -1.647639
2015-07-02   -1.192083
2014-03-02    0.378235
2012-09-12    0.276837
2001-09-22   -0.732587
dtype: float64

In [36]:
ts.index

DatetimeIndex(['2011-01-02', '2012-02-02', '2015-07-02', '2014-03-02',
               '2012-09-12', '2001-09-22'],
              dtype='datetime64[ns]', freq=None)

In [37]:
ts+ts[::2]

2001-09-22         NaN
2011-01-02   -3.672504
2012-02-02         NaN
2012-09-12    0.553673
2014-03-02         NaN
2015-07-02   -2.384167
dtype: float64

In [39]:
ts.index.dtype

dtype('<M8[ns]')

In [40]:
stamp=ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### 索引、選択、サブセット構成

In [41]:
stamp=ts.index[2]
ts[stamp]

-1.1920834761681938

In [45]:
ts['07/02/2015']

2015-07-02   -1.192083
dtype: float64

In [46]:
ts['20150702']

2015-07-02   -1.192083
dtype: float64

In [47]:
longer_ts=pd.Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01   -0.242939
2000-01-02   -1.255970
2000-01-03    0.228100
2000-01-04   -0.407577
2000-01-05    1.416569
2000-01-06    0.604006
2000-01-07   -1.104557
2000-01-08   -1.609232
2000-01-09   -0.911244
2000-01-10    0.154474
2000-01-11   -0.149921
2000-01-12    0.355203
2000-01-13   -0.919095
2000-01-14   -0.811845
2000-01-15    0.675985
2000-01-16   -1.365479
2000-01-17   -1.260682
2000-01-18   -0.346640
2000-01-19    0.218875
2000-01-20    1.701301
2000-01-21    0.832799
2000-01-22   -0.218790
2000-01-23   -0.647960
2000-01-24    1.781992
2000-01-25    0.745087
2000-01-26    0.391507
2000-01-27   -0.760063
2000-01-28    0.966981
2000-01-29   -0.531294
2000-01-30    0.230472
                ...
2002-08-28   -0.008900
2002-08-29   -1.622328
2002-08-30   -0.366887
2002-08-31    2.432962
2002-09-01    0.058380
2002-09-02   -2.225290
2002-09-03   -0.922370
2002-09-04   -1.837147
2002-09-05    0.141609
2002-09-06    1.422879
2002-09-07   -0.429864
2002-09-08   -0.330438
2002-09-09   -0.925729
2002-09-10    0.357128
2002-09-11    0.424328
2002-09-12   -2.232943
2002-09-13    0.348191
2002-09-14    0.374441
2002-09-15    0.723606
2002-09-16    1.353905
2002-09-17   -0.348531
2002-09-18   -1.620199
2002-09-19   -0.369625
2002-09-20    1.577027
2002-09-21   -0.125774
2002-09-22   -0.001930
2002-09-23    0.530379
2002-09-24   -0.667287
2002-09-25    0.087310
2002-09-26   -0.758693
Freq: D, Length: 1000, dtype: float64

In [48]:
longer_ts['2001']

2001-01-01   -0.164112
2001-01-02   -0.606760
2001-01-03    1.199252
2001-01-04    1.000534
2001-01-05   -1.426969
2001-01-06    0.302182
2001-01-07   -0.238390
2001-01-08    2.263032
2001-01-09   -1.794045
2001-01-10    0.103558
2001-01-11    0.752895
2001-01-12    0.627207
2001-01-13    0.828788
2001-01-14   -0.090067
2001-01-15   -0.247406
2001-01-16   -0.278359
2001-01-17   -1.051821
2001-01-18   -0.714921
2001-01-19    0.611952
2001-01-20   -0.203239
2001-01-21   -0.070327
2001-01-22   -1.116150
2001-01-23    0.641757
2001-01-24    0.630746
2001-01-25   -0.312397
2001-01-26    0.193491
2001-01-27    0.795676
2001-01-28    0.111835
2001-01-29    1.014330
2001-01-30    1.257496
                ...
2001-12-02   -1.192268
2001-12-03   -1.115459
2001-12-04    0.254601
2001-12-05    1.920326
2001-12-06   -0.180225
2001-12-07    2.251426
2001-12-08    0.633673
2001-12-09   -0.059414
2001-12-10   -0.487366
2001-12-11    0.856532
2001-12-12   -0.517429
2001-12-13   -0.392673
2001-12-14    0.608583
2001-12-15   -0.814151
2001-12-16   -2.540941
2001-12-17   -0.684445
2001-12-18   -2.119598
2001-12-19   -0.098983
2001-12-20    0.369784
2001-12-21   -0.711874
2001-12-22    1.287178
2001-12-23    1.690364
2001-12-24    0.133609
2001-12-25    0.435761
2001-12-26    0.644890
2001-12-27   -0.095805
2001-12-28    0.596947
2001-12-29   -1.579162
2001-12-30    0.056330
2001-12-31   -0.043323
Freq: D, Length: 365, dtype: float64

In [49]:
longer_ts['2001-05']

2001-05-01   -0.719093
2001-05-02   -0.479647
2001-05-03    0.186806
2001-05-04    0.331269
2001-05-05    0.669077
2001-05-06    1.479883
2001-05-07   -0.339872
2001-05-08   -0.302265
2001-05-09   -1.405155
2001-05-10    0.140442
2001-05-11    1.539753
2001-05-12   -0.421889
2001-05-13   -2.004462
2001-05-14    1.820448
2001-05-15    0.218769
2001-05-16   -1.486849
2001-05-17    0.236163
2001-05-18   -0.619977
2001-05-19   -1.377046
2001-05-20    0.540687
2001-05-21   -0.358145
2001-05-22   -0.678372
2001-05-23   -0.612784
2001-05-24    0.276532
2001-05-25    1.276769
2001-05-26    0.238752
2001-05-27   -1.018631
2001-05-28   -0.835127
2001-05-29    0.161999
2001-05-30   -0.379309
2001-05-31    0.401111
Freq: D, dtype: float64

In [54]:
ts[datetime(2012,2,2):]

2012-02-02   -1.647639
2015-07-02   -1.192083
2014-03-02    0.378235
2012-09-12    0.276837
2001-09-22   -0.732587
dtype: float64

In [55]:
ts

2011-01-02   -1.836252
2012-02-02   -1.647639
2015-07-02   -1.192083
2014-03-02    0.378235
2012-09-12    0.276837
2001-09-22   -0.732587
dtype: float64

In [56]:
ts['1/4/2012':'3/2/2016']

2012-02-02   -1.647639
2015-07-02   -1.192083
2014-03-02    0.378235
2012-09-12    0.276837
dtype: float64

In [69]:
dates=pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=dates,
                    columns=['colorado','taxas','new yorks','ohio'])
long_df.loc['5-2001']

            colorado     taxas  new yorks      ohio
2001-05-02  1.152859 -0.765124  -1.176496 -0.158363
2001-05-09 -0.209107  1.306093  -0.625971 -0.921079
2001-05-16  0.095113 -0.489137   0.583233  0.227987
2001-05-23  0.974873 -0.826425   0.285431 -0.958073
2001-05-30  0.669442  0.639296  -0.432380  1.282546

In [73]:
#重ねているインデクス
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                       '1/2/2000','1/3/2000'])
dup_ts=pd.Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [74]:
dup_ts.index.is_unique

False

In [75]:
dup_ts['1/3/2000']

4

In [76]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [78]:
grouped=dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [79]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 日付の範囲、頻度、および変化

In [80]:
ts

2011-01-02   -1.836252
2012-02-02   -1.647639
2015-07-02   -1.192083
2014-03-02    0.378235
2012-09-12    0.276837
2001-09-22   -0.732587
dtype: float64

In [82]:
resampler=ts.resample('d')
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [83]:
index=pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [84]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [85]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [86]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [87]:
pd.date_range('2012-05-02 12:55:25',periods=5)

DatetimeIndex(['2012-05-02 12:55:25', '2012-05-03 12:55:25',
               '2012-05-04 12:55:25', '2012-05-05 12:55:25',
               '2012-05-06 12:55:25'],
              dtype='datetime64[ns]', freq='D')

In [88]:
pd.date_range('2012-05-02 12:22:45',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [89]:
from pandas.tseries.offsets import Hour,Minute
hour=Hour()
hour

In [90]:
four_hour=Hour(4)
four_hour

In [91]:
pd.date_range('2000-01-01','2000-01-03 23:00',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [92]:
Hour(2)+Minute(40)

In [93]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [96]:
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [97]:
ts=pd.Series(np.random.randn(4),
            index=pd.date_range('1/2/2000',periods=4,freq='M'))
ts

2000-01-31    0.804734
2000-02-29   -0.270209
2000-03-31   -0.347905
2000-04-30    0.146335
Freq: M, dtype: float64

In [98]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.804734
2000-04-30   -0.270209
Freq: M, dtype: float64

In [99]:
ts.shift(-2)

2000-01-31   -0.347905
2000-02-29    0.146335
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [100]:
ts/ts.shift(1)-1

2000-01-31         NaN
2000-02-29   -1.335774
2000-03-31    0.287539
2000-04-30   -1.420618
Freq: M, dtype: float64

In [101]:
ts.shift(2,freq='M')

2000-03-31    0.804734
2000-04-30   -0.270209
2000-05-31   -0.347905
2000-06-30    0.146335
Freq: M, dtype: float64

In [102]:
ts.shift(2,freq='D')

2000-02-02    0.804734
2000-03-02   -0.270209
2000-04-02   -0.347905
2000-05-02    0.146335
dtype: float64

In [103]:
ts.shift(2,freq='90T')

2000-01-31 03:00:00    0.804734
2000-02-29 03:00:00   -0.270209
2000-03-31 03:00:00   -0.347905
2000-04-30 03:00:00    0.146335
Freq: M, dtype: float64

In [104]:
from pandas.tseries.offsets import Day,MonthEnd
now=datetime(2011,11,17)
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [105]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [106]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [107]:
offset=MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [108]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [109]:
ts=pd.Series(np.random.randn(20),
            index=pd.date_range('1/15/2000',periods=20,freq='4d'))
ts

2000-01-15   -0.379346
2000-01-19   -0.594707
2000-01-23   -0.447367
2000-01-27   -0.715990
2000-01-31    1.753865
2000-02-04    0.935602
2000-02-08    0.760273
2000-02-12    1.514046
2000-02-16    1.501518
2000-02-20    2.327617
2000-02-24   -0.468279
2000-02-28    0.258642
2000-03-03    0.366748
2000-03-07   -1.639436
2000-03-11   -0.583391
2000-03-15    0.703422
2000-03-19   -0.416266
2000-03-23    0.057925
2000-03-27   -0.378238
2000-03-31    0.191651
Freq: 4D, dtype: float64

In [110]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.076709
2000-02-29    0.975631
2000-03-31   -0.212198
dtype: float64

In [111]:
ts.resample('M').mean()

2000-01-31   -0.076709
2000-02-29    0.975631
2000-03-31   -0.212198
Freq: M, dtype: float64

## タイムゾーンの処理

In [117]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [118]:
tz =pytz.timezone('America/New_York')
tz

In [119]:
rng=pd.date_range('3/9/2012 9:40',periods=6,freq='D')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-09 09:40:00    0.216214
2012-03-10 09:40:00    0.294111
2012-03-11 09:40:00    0.188058
2012-03-12 09:40:00    0.701048
2012-03-13 09:40:00    0.786309
2012-03-14 09:40:00    2.081226
Freq: D, dtype: float64

In [120]:
print(ts.index.tz)

None

In [121]:
pd.date_range('3/9/2012 9:30',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [122]:
ts

2012-03-09 09:40:00    0.216214
2012-03-10 09:40:00    0.294111
2012-03-11 09:40:00    0.188058
2012-03-12 09:40:00    0.701048
2012-03-13 09:40:00    0.786309
2012-03-14 09:40:00    2.081226
Freq: D, dtype: float64

In [123]:
ts_utc=ts.tz_localize('UTC')
ts_utc

2012-03-09 09:40:00+00:00    0.216214
2012-03-10 09:40:00+00:00    0.294111
2012-03-11 09:40:00+00:00    0.188058
2012-03-12 09:40:00+00:00    0.701048
2012-03-13 09:40:00+00:00    0.786309
2012-03-14 09:40:00+00:00    2.081226
Freq: D, dtype: float64

In [124]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:40:00+00:00', '2012-03-10 09:40:00+00:00',
               '2012-03-11 09:40:00+00:00', '2012-03-12 09:40:00+00:00',
               '2012-03-13 09:40:00+00:00', '2012-03-14 09:40:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [125]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:40:00-05:00    0.216214
2012-03-10 04:40:00-05:00    0.294111
2012-03-11 05:40:00-04:00    0.188058
2012-03-12 05:40:00-04:00    0.701048
2012-03-13 05:40:00-04:00    0.786309
2012-03-14 05:40:00-04:00    2.081226
Freq: D, dtype: float64

In [127]:
ts_eastern=ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:40:00+00:00    0.216214
2012-03-10 14:40:00+00:00    0.294111
2012-03-11 13:40:00+00:00    0.188058
2012-03-12 13:40:00+00:00    0.701048
2012-03-13 13:40:00+00:00    0.786309
2012-03-14 13:40:00+00:00    2.081226
Freq: D, dtype: float64

In [128]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:40:00+01:00    0.216214
2012-03-10 15:40:00+01:00    0.294111
2012-03-11 14:40:00+01:00    0.188058
2012-03-12 14:40:00+01:00    0.701048
2012-03-13 14:40:00+01:00    0.786309
2012-03-14 14:40:00+01:00    2.081226
Freq: D, dtype: float64

In [129]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:40:00+08:00', '2012-03-10 09:40:00+08:00',
               '2012-03-11 09:40:00+08:00', '2012-03-12 09:40:00+08:00',
               '2012-03-13 09:40:00+08:00', '2012-03-14 09:40:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [130]:
stamp=pd.Timestamp('2011-03-12 04:00')
stamp_utc=stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [131]:
stamp_moscow=pd.Timestamp('2011-03-12 05:00',tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 05:00:00+0300', tz='Europe/Moscow')

In [132]:
stamp_utc.value

1299902400000000000

In [134]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [137]:
stamp=pd.Timestamp('2012-03-12 01:03',tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:03:00-0400', tz='US/Eastern')

In [138]:
stamp+Hour()

Timestamp('2012-03-12 02:03:00-0400', tz='US/Eastern')

In [140]:
stamp=pd.Timestamp('2012-03-04 00:30',tz='US/Eastern')
stamp

Timestamp('2012-03-04 00:30:00-0500', tz='US/Eastern')

In [141]:
stamp+2*Hour()

Timestamp('2012-03-04 02:30:00-0500', tz='US/Eastern')

In [5]:
rng=pd.date_range('3/7/2012 9:30',periods=10,freq='B')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-07 09:30:00   -0.147911
2012-03-08 09:30:00   -0.422924
2012-03-09 09:30:00    0.955481
2012-03-12 09:30:00    1.060837
2012-03-13 09:30:00   -1.801806
2012-03-14 09:30:00   -1.308215
2012-03-15 09:30:00   -0.837663
2012-03-16 09:30:00    0.888116
2012-03-19 09:30:00    0.244480
2012-03-20 09:30:00   -0.534206
Freq: B, dtype: float64

In [6]:
ts1=ts[:7].tz_localize('Europe/London')
ts2=ts1[2:].tz_convert('Europe/Moscow')
result=ts1+ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [7]:
p=pd.Period(2007,freq='A-DEC')
p

Period('2007', 'A-DEC')

In [8]:
p+5

Period('2012', 'A-DEC')

In [9]:
p-2

Period('2005', 'A-DEC')

In [10]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [11]:
pd.Series(np.random.randn(6),index=rng)

2000-01   -1.800855
2000-02    0.978739
2000-03    0.425148
2000-04    0.217857
2000-05    0.532134
2000-06    0.780060
Freq: M, dtype: float64

In [12]:
values=['2001Q3','2002Q2','2003Q1']
index=pd.PeriodIndex(values,freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [13]:
p=pd.Period('2007','A-DEC')
p

Period('2007', 'A-DEC')

In [14]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [15]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [16]:
p=pd.Period('2007',freq='A-JUN')
p.asfreq('M','start')

Period('2006-07', 'M')

In [17]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [18]:
p=pd.Period('Aug-2007','M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [20]:
rng=pd.period_range('2006','2009',freq='A-DEC')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2006    0.771779
2007   -0.276263
2008   -0.420599
2009   -0.883965
Freq: A-DEC, dtype: float64

In [21]:
ts.asfreq('M',how='start')

2006-01    0.771779
2007-01   -0.276263
2008-01   -0.420599
2009-01   -0.883965
Freq: M, dtype: float64

In [22]:
ts.asfreq('B',how='end')

2006-12-29    0.771779
2007-12-31   -0.276263
2008-12-31   -0.420599
2009-12-31   -0.883965
Freq: B, dtype: float64

In [23]:
p=pd.Period('2012Q4',freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [24]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [25]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [26]:
p4pm=(p.asfreq('B','e')-1).asfreq('T','s')+16*60
p4pm

Period('2012-01-30 16:00', 'T')

In [27]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [28]:
rng=pd.period_range('2011Q3','2012Q4',freq='Q-JAN')
ts=pd.Series(np.arange(len(rng)),index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [29]:
new_rng=(rng.asfreq('B','e')-1).asfreq('T','s')+16*60
ts.index=new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [31]:
rng=pd.date_range('2000-01-01',periods=3,freq='M')
ts=pd.Series(np.random.randn(3),index=rng)
ts

2000-01-31   -1.020390
2000-02-29    1.712922
2000-03-31   -1.003042
Freq: M, dtype: float64

In [32]:
pts=ts.to_period()
pts

2000-01   -1.020390
2000-02    1.712922
2000-03   -1.003042
Freq: M, dtype: float64

In [33]:
rng=pd.date_range('1/29/2000',periods=6,freq='D')
ts2=pd.Series(np.random.randn(6),index=rng)
ts2

2000-01-29   -1.134294
2000-01-30    0.936887
2000-01-31    1.529119
2000-02-01    1.004282
2000-02-02    1.551232
2000-02-03   -1.041364
Freq: D, dtype: float64

In [34]:
ts2.to_period('M')

2000-01   -1.134294
2000-01    0.936887
2000-01    1.529119
2000-02    1.004282
2000-02    1.551232
2000-02   -1.041364
Freq: M, dtype: float64

In [35]:
pts=ts2.to_period()
pts

2000-01-29   -1.134294
2000-01-30    0.936887
2000-01-31    1.529119
2000-02-01    1.004282
2000-02-02    1.551232
2000-02-03   -1.041364
Freq: D, dtype: float64

In [36]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999   -1.134294
2000-01-30 23:59:59.999999999    0.936887
2000-01-31 23:59:59.999999999    1.529119
2000-02-01 23:59:59.999999999    1.004282
2000-02-02 23:59:59.999999999    1.551232
2000-02-03 23:59:59.999999999   -1.041364
Freq: D, dtype: float64

In [37]:
frame=pd.DataFrame(np.random.randn(2,4),
                  index=pd.date_range('1/1/2000',periods=2,freq='W-WED'),
                  columns=['colorado','texas','new_york','ohio'])
frame

            colorado     texas  new_york      ohio
2000-01-05 -0.392340  1.882949 -0.392965  0.262017
2000-01-12 -0.874952  1.855707  0.164772  1.043167

In [38]:
df_daily=frame.resample('D').asfreq()
df_daily

            colorado     texas  new_york      ohio
2000-01-05 -0.392340  1.882949 -0.392965  0.262017
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.874952  1.855707  0.164772  1.043167

In [39]:
frame.resample('D').ffill()

            colorado     texas  new_york      ohio
2000-01-05 -0.392340  1.882949 -0.392965  0.262017
2000-01-06 -0.392340  1.882949 -0.392965  0.262017
2000-01-07 -0.392340  1.882949 -0.392965  0.262017
2000-01-08 -0.392340  1.882949 -0.392965  0.262017
2000-01-09 -0.392340  1.882949 -0.392965  0.262017
2000-01-10 -0.392340  1.882949 -0.392965  0.262017
2000-01-11 -0.392340  1.882949 -0.392965  0.262017
2000-01-12 -0.874952  1.855707  0.164772  1.043167

In [40]:
frame.resample('D').ffill(limit=2)

            colorado     texas  new_york      ohio
2000-01-05 -0.392340  1.882949 -0.392965  0.262017
2000-01-06 -0.392340  1.882949 -0.392965  0.262017
2000-01-07 -0.392340  1.882949 -0.392965  0.262017
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.874952  1.855707  0.164772  1.043167

In [41]:
frame.resample('W-THU').ffill()

            colorado     texas  new_york      ohio
2000-01-06 -0.392340  1.882949 -0.392965  0.262017
2000-01-13 -0.874952  1.855707  0.164772  1.043167

In [43]:
frame=pd.DataFrame(np.random.randn(24,4),
                  index=pd.period_range('1-2000','12-2001',freq='M'),
                   columns=['colorado','texas','newyork','ohio'])
frame[:5]

         colorado     texas   newyork      ohio
2000-01 -0.965312  0.233617  1.001079 -0.415699
2000-02  1.513468  1.475255  1.327758 -0.464340
2000-03 -0.339185  0.102617  2.053736  2.377991
2000-04  0.797043 -0.241096  0.021889  0.704924
2000-05  2.563486 -0.475644 -0.389669  0.268674

In [45]:
annual_frame=frame.resample('A-DEC').mean()
annual_frame

      colorado     texas   newyork      ohio
2000  0.234150 -0.278685  0.349920  0.277792
2001 -0.238588 -0.115147  0.201366 -0.020005

In [46]:
annual_frame.resample('Q-DEC').ffill()

        colorado     texas   newyork      ohio
2000Q1  0.234150 -0.278685  0.349920  0.277792
2000Q2  0.234150 -0.278685  0.349920  0.277792
2000Q3  0.234150 -0.278685  0.349920  0.277792
2000Q4  0.234150 -0.278685  0.349920  0.277792
2001Q1 -0.238588 -0.115147  0.201366 -0.020005
2001Q2 -0.238588 -0.115147  0.201366 -0.020005
2001Q3 -0.238588 -0.115147  0.201366 -0.020005
2001Q4 -0.238588 -0.115147  0.201366 -0.020005

In [47]:
annual_frame.resample('Q-DEC',convention='end').ffill()

        colorado     texas   newyork      ohio
2000Q4  0.234150 -0.278685  0.349920  0.277792
2001Q1  0.234150 -0.278685  0.349920  0.277792
2001Q2  0.234150 -0.278685  0.349920  0.277792
2001Q3  0.234150 -0.278685  0.349920  0.277792
2001Q4 -0.238588 -0.115147  0.201366 -0.020005

NameError: name 'returns' is not defined